@media (min-width:1025px) {
    *:not(body, html, a, table, thead, tbody, tr, td) {
        font-size: medium;
    }
}

@font-face {
    font-family: RubikMonoOne;
    src: url(fonts/RubikMonoOne/font.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik/font.ttf);
}

* {
    font-size: x-large;
}

img.logo {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    cursor: pointer;
}

blockquote, dd, div, dl, dt, figcaption,
figure, hr, li, menu, ol, p, pre, ul, a,
abbr, b, bdi, bdo, br, cite, code, data,
dfn, em, i, kbd, mark, q, rp, rt, ruby,
s, samp, small, span, strong, sub, sup,
time, u, var, wbr, .text {
    font-family: Rubik;
}
.header {
    font-family: RubikMonoOne;
    font-size: 150%;
}

input:not([type="submit"]), textarea {
    font-family: Rubik;

    border: .15rem solid #8A3033;
    min-height: 3rem;
    max-width: 90vw;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button, input[type="submit"], .button {
    font-family: RubikMonoOne;

    display: block;
    min-height: 5rem;
    border-radius: 2rem;
    background: #ffd0d3;
    border: .15rem solid #8A3033;
    padding: 1rem;
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
button:active, input[type="submit"]:active, .button:active {
    color: white;
    background: #8A3033;
    border: .15rem solid #ffd0d3;
}

table {
    border-radius: 1rem;
}
thead > tr > td:nth-child(1) {
    border-radius: 1rem 0 0 0;
}
thead > tr > td:nth-last-child(1) {
    border-radius: 0 1rem 0 0;
}
tbody > tr:nth-last-child(1) > td:nth-child(1) {
    border-radius: 0 0 0 1rem;
}
tbody > tr:nth-last-child(1) > td:nth-last-child(1) {
    border-radius: 0 0 1rem 0;
}

div.notify, div.warn, div.error {
    border-radius: 1rem;
    font-family: Rubik;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
div.notify {
    background: #d8d1ff;
    border: .15rem solid #3e308a;
}
div.warn {
    background: #FFFAD1;
    border: .15rem solid #887f30;
}
div.error {
    background: #ffd0d3;
    border: .15rem solid #8A3033;
}